<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="student.inti.christmaspartyperformanceenrolment">

    <!-- Application Configuration -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_christmas_tree"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_christmas_tree"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChristmasPartyPerformanceEnrolment">

        <!-- Main Activity Declaration -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />

        <!-- Event Details Activity Declaration -->
        <activity android:name=".EventDetailsActivity" />

        <!-- Participants Activity Declaration -->
        <activity android:name=".ParticipantsActivity" />

        <!-- RSVP Confirmation Activity Declaration -->
        <activity android:name=".RsvpConfirmationActivity" />

    </application>
</manifest>

